<div class="c1">
    <div class="modalForm">
        <div class="actionBtns">

            <button type="button" class="actionBtn signupBtn">Se connecter</button>
            <button type="button" class="actionBtn loginBtn">S'inscrire</button>
            <button type="button" class="moveBtn rightBtn">Se connecter</button>

        </div>
        <form>
            <div class="relative ">
                <input type="text" id="Email"
                    class=" border-b py-1 focus:outline-none focus:border-purple-600 focus:border-b-2 transition-colors peer "
                    autocomplete="off">
                <label for="Email"
                    class="absolute left-0 top-1 text-gray-600 cursor-text peer-focus:text-xs peer-focus:-top-4 peer-focus:text-purple-600 transition-all">Email</label>
            </div>
            <div class="msg error"> Password is required  </div>
            <div class="relative " >
                <input type="text" id="password"
                    class=" border-b py-1 focus:outline-none focus:border-purple-600 focus:border-b-2 transition-colors peer "
                    autocomplete="off">
                <label for="password"
                    class="absolute left-0 top-1 text-gray-600 cursor-text peer-focus:text-xs peer-focus:-top-4 peer-focus:text-purple-600 transition-all">mot de passe</label>
            </div>
            <div class="msg error"> Password is required  </div>
            <button type="submit" id="btnSubmit">Login</button>

        </form>
    </div>
</div>