<!-- <ejs-schedule
  height="500"
  width="650"
  #calendar
  [currentView]="setView"
></ejs-schedule>
<form
  [formGroup]="meetingForm"
  [evantSettings]="eventSettings"
  (ngSubmit)="onSubmit()"
>
  <label>
    Title:
    <input type="text" formControlName="title" />
  </label>
  <label>
    Start Time:
    <input type="datetime-local" formControlName="startTime" />
  </label>
  <label>
    End Time:
    <input type="datetime-local" formControlName="endTime" />
  </label>
  <button type="submit">Create Appointment</button>
</form> -->
