<full-calendar
  #calendar
  [options]="calendarOptions"
  [events]="events"
></full-calendar>
<form [formGroup]="frm" (ngSubmit)="addEvent()" [hidden]="!showForm">
  <div class="flex-col justify-between w-11/12">
    <div class="flex flex-col mt-6 ml-3 relative">
      <input
        type="text"
        id="title"
        placeholder="title"
        class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
        autocomplete="off"
        formControlName="title"
        required
      />
      <label
        for="title"
        class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
        >Titre <span class="text-[#E5302D]">*</span></label
      >
    </div>
    <div class="flex flex-col mt-6 ml-3 relative">
      <input
        type="datetime-local"
        id="startDateTime"
        placeholder="startDateTime"
        class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
        autocomplete="off"
        formControlName="startDateTime"
        required
      />
      <label
        for="startDateTime"
        class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
        >Début <span class="text-[#E5302D]">*</span></label
      >
    </div>
    <div class="flex flex-col mt-6 ml-3 relative">
      <input
        type="datetime-local"
        id="endDateTime"
        placeholder="endDateTime"
        class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
        autocomplete="off"
        formControlName="endDateTime"
        required
      />
      <label
        for="endDateTime"
        class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
        >Fin<span class="text-[#E5302D] ml-1">*</span></label
      >
    </div>
    <div class="flex flex-col mt-6 ml-3 relative">
      <input
        type="text"
        id="description"
        placeholder="description"
        class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
        autocomplete="off"
        formControlName="description"
        required
      />
      <label
        for="description"
        class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
        >Description<span class="text-[#E5302D] ml-1">*</span></label
      >
    </div>
  </div>
  <div class="flex justify-around items-center my-20">
    <button
      type="submit"
      id="btnSubmit"
      class="w-40 h-10 text-white bg-[#E73130] rounded-full"
    >
      Ajouter
    </button>
  </div>
</form>
